.slideshow {
    position:relative;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}

.slideshowSlider{
    white-space: nowrap;
    transition: ease 2000ms;
}

.slide {
    display: inline-block;
    height: 450px;
    width: 100%;
}


.slideshowDots {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    
    transform: translateY(-50%);
    bottom: 0;
  }
  
  .slideshowDot {
    display: flex;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    z-index:5;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #003143;
  }



.text {
    position: absolute;
    display:flex;
    width: 100%;
    top: 55%;
    transform: translateY(-50%);
    justify-content: center;
}

.text h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5em;
    color: white;
    z-index:2;
    text-align: center;
    width:40%;
    left: 50%;
    text-shadow: 2px 2px #000000;
}
